@font-face {
    font-family: "Yataghan";
    src: url(fonts/yataghan.ttf);
}


h1 {
    font-size: 60px;
    color: red;
}

body  {
    background-image: url(images/lucas-rodrigues.jpg);
    background-color: black;
    color: white;
    font-family: "Yataghan", "Georgia", "Times New Roman", serif;
}

.food-pic {
    width: auto;
    height: 400px;
}